## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 12
print(a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
c = 8.5
print(type(c))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [13]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [39]:
nombre = 'Daniel Suarez'
print(nombre)

Daniel Suarez

5) Crear una variable que contenga un número complejo

In [40]:
e = 2j + 6
print(e)

(6+2j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [27]:
print(type(e))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [38]:
pi = 3.1416
print(pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [37]:
vari1 = 'True'
vari2 = True
print(vari1)
print(vari2)

True
True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [28]:
print('la variable 1 es de tipo', type(vari1), 'y la variable 2 es de tipo', type(vari2))

la variable 1 es de tipo <class 'str'> y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [34]:
d = 12.5 + 10
print(d)

22.5

11) Realizar una operación de suma de números complejos

In [33]:
f = 2j + 5j
print(f)

7j

12) Realizar una operación de suma de un número real y otro complejo

In [32]:
g = 2j + 5.5
print(g)

(5.5+2j)

13) Realizar una operación de multiplicación

In [23]:
h = 5 * 6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [29]:
j = 2 ** 8
print(j)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [42]:
k = 27 / 4
print(k)

6.75

16) De la división anterior solamente mostrar la parte entera

In [43]:
k = 27 // 4
print(k)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [44]:
k = 27 % 4
print(k)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [45]:
r = 4 * 6 + 3
print(r)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [48]:
o = 'hola ' 
i = 'Daniel'
print(o + i)

hola Daniel

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [49]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [51]:
print(int('2') == 2)
print('2' == str(2))

True
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [52]:
a = float('3,8')
# no se puede convertir una cadena de texto (string) a un numero real (float).

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [53]:
var = 3
var -= 1
print(var)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [54]:
1 << 2
"""La expresión resultado = 1 << 2 realiza el desplazamiento a la izquierda de bits y almacena el resultado en la variable resultado. Luego, el valor de resultado se imprime utilizando la función print, lo que muestra el número 4 en la salida. 
"""

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [55]:
2 + '2'
# esta operacion no se puede realizar porque los operadores son de distinti tipo.
# si los dos operadores fueran del mismo tipo se realizara la operacion sin errores.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [58]:
v1 = 'hola, que tal? '
v2 = 4
print('repetire esta frase', v1 * v2, v2, 'veces')

repetire esta frase hola, que tal? hola, que tal? hola, que tal? hola, que tal?  4 veces

In [1]:
5 != 6

True